.wp-lnp-wrapper {
  padding: 1em;
  border-radius: 2px;
  background: #FBFCD0;
  text-align: center; /* @XXX good for paid too? */
}

.p-lnp-wrapper p:last-child {
  margin-bottom: 0;
}

.wp-lnp-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 8px 12px;

  font-size: 20px;
  line-height: 1.4;
  border-radius: 2px;

  color: #ffffff !important;
  background-color: #008cba !important;
  border-color: #0079a1 !important;

}

.wp-lnp-btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.4;
}
