.wp-lnp-wrapper {
  padding: 1em;
  border-radius: 2px;
  text-align: center;
}

.p-lnp-wrapper p:last-child {
  margin-bottom: 0;
}

.wp-lnp-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 8px 12px;

  line-height: 1.4;
  border-radius: 2px;
}

.wp-lnp-btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.4;
}

.wp-lnp-qrcode {
  text-align: center;
}
.wp-lnp-qrcode img {
  width: 240px;
  display: inline;
}
