.wp-lnp-wrapper {
    padding: 1em;
    border-radius: 2px;
    text-align: center;
}

.p-lnp-wrapper p:last-child {
    margin-bottom: 0;
}

.wp-lnp-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 8px 12px;

    line-height: 1.4;
    border-radius: 2px;
}

.wp-lnp-btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.4;
}

.wp-lnp-qrcode {
    text-align: center;
}

.wp-lnp-qrcode img {
    width: 240px;
    display: inline;
}

.wp-lnp-copy svg {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.LNP_spinner {
    animation: LNP_rotate 2s linear infinite;
    z-index: 2;
    width: 20px;
    height: 20px;
}

.LNP_spinner .LNP_path {
    stroke: black;
    stroke-linecap: round;
    animation: LNP_dash 1.5s ease-in-out infinite;
}

@keyframes LNP_rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes LNP_dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
