.dashicon.dashicons.dashicons-icon-alby {
  background-image: url('../../img/alby.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.lnp-alby-donation-widget {
  width: 100%;
  height: 50px;
  display: block;
  border: 1px solid #FFDF6F;
  background-image: url('../../img/alby.png');
  background-size: 42px;
  background-position: left 4px center;
  background-repeat: no-repeat;
  background-color: white;
  position: relative;
}

.lnp-alby-donation-widget::after {
  width: 100%;
  height: 100%;
  font-size: 14px;
  display: flex;
  content: 'Alby Donation Block';
  position: absolute;
  align-items: center;
  justify-content: center;
}